<h2>Welcome to beerfactor!</h2>

The site where everything resolves around beer. Are you excited to join? Discuss everything here about beers with your
friends, colleagues and strangers. Let us unite around a beverage we are all so fond about: Beer!
<div style="display:block"/>
<%= image_tag 'beer.jpg' %>
