<h2> Welcome to Beerfactor!</h2>
<p>
  The place to be to rank your beers, keep your scores updated,
  and discuss your latest beer hints, tips and tricks with your friends and fellow beer enthousiasts!
</p>